# Dependencies
node_modules

# Next.js
.next
out

# Build
dist

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Vercel
.vercel

# Testing
coverage

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db
